$color-1: #e79614; // Dixie Orange
$color-4: #da324b; // Cerise Red
$color-3: #57853c; // Fern Green
//$color-4: #e7d543; // Ronchi Lime 
$color-5: #d7f6f6; // Polar Blue-green
//$color-6: #ec7f24; // Tango Orange
$color-2: #004a87; // Congress Blue