$color-1: #e79614; // Dixie Orange
$color-2: #004a87; // Congress Blue
$color-3: #57853c; // Fern Green
$color-4: #da324b; // Cerise Red
$color-5: #e7d543; // Ronchi Lime 
//$color-5: #d7f6f6; // Polar Blue-green test color
$color-6: #ec7f24; // Tango Orange
$color-7: #000; // Black
$color-8: #fff; // White
$color-9: #939799 // Medium Grey
