@import 'src/scss/partials/reset';
@import 'src/scss/partials/layout';
@import 'src/scss/partials/colors';
@import 'src/scss/partials/typography';

body {
    background-image: url("src/images/blue-textile-1078981.jpg");
    background-repeat: no-repeat;
    background-size: 100% 132%; //make large view 100% 100%
    margin: 0 auto;
    max-width: 80%;
    padding: 0;
    background-color: $color-8;
}

//  *********************************
//  Brother Blaylock's Example
//  *********************************
//sample for how we changed partial _layout.scss
// .cd-logo {
//     /* logo box style */
//     background-color: $color-1;
//     width: 120px;

//     //MQ = media query
//     @include MQ(break-medium) {
//       width: 180px;
//     }
//   }

// header:after {
//     content: "";
//     display: block;
//     clear: both;
// }

h1 {

    margin-top: 20px;
    // font-size: 10vmin;
    font-size: 2.5rem;
    color: $color-8;
    font-family: $header-font;
    padding-top: 2.5rem;
    text-align: center;
   
    text-shadow: 7px 7px 5px $color-7;
    background-image: url(src/images/surfboard1-layerstogether.svg);

    @include MQ(break-medium) {
        line-height: 20rem;
        font-size: 5rem;
        // line-height: 20vmin;   
    }

}

h2, h3 {
    font-size: 1.5em;
    color: $color-8;
    font-family: $header-font;
    text-align: center;
    padding-top: 5px;
    text-shadow: 2px 2px 5px $color-7;
    margin-top: 3rem;
    margin-bottom: .5rem;
}

.page-wrapper {
    /*    display: grid;
    grid-template-columns: 1fr;
    margin: 20px;
    align-items: center; */
    position: relative;

    @include MQ(break-medium) {
        display: grid;
        grid-gap: 25px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(100px, 1fr);
    }
}
    
footer {
    margin-top: 20px;
    position: absolute;
    left: 30px;
    bottom: -50px;

    @include MQ(break-medium){
        left: 7px;
    }
}

footer a {
    padding: 6px;
    transition: 1.5s;

        &:visited {
            color: #f8f8ff;//off-white
        }

        &:hover {
            color: $color-6;
        }
    }




// *************************************
// Brother Blaylock's Example of nesting
// *************************************
/* This is an example of nesting with the ampersand
The ampersand takes the parent selector and repeats it
where the & is. 

a {
    background: red; 
    &:hover {
        background: blue;
    }
}

This will compile to 
a {
    background: red; 
}

a:hover {
    background: blue;
}

Without the ampersand it creates a descendant selector 
it will compile wrong in this case. 

a {
    background: red; 
}

See the space. 
a :hover {
    background: blue;
}
*/

.preamble,
.main.supporting {
    color: $color-8;
    text-shadow: 2px 2px 5px $color-7;

}

.summary {
    text-shadow: 2px 2px 5px $color-8;
    color: $color-8;
}

.main.supporting,
.intro a:link {
    color: $color-8;
}


a:link {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

a:visited {
    color: #f8f8ff;//off-white
}

.main.supporting a:hover {
    text-decoration: underline;
}

.intro a:hover {
    text-decoration: underline;
}

.requirements {
    text-shadow: 2px 2px 5px $color-7;
}

.main.supporting h3 {
    color: $color-1;
    padding: 20px;
    font-weight: bold;
    font-family: $header-font;
    font-size: 1.5rem;
    border: 5px solid $color-1;
    border-radius: 15% 50% 50% 15%;
    box-shadow: 2px 2px 5px $color-7;
    text-align: center;
    text-shadow: 2px 2px 5px $color-7;
    &:hover {
    transform: rotate(15deg);
    }
}


// @include MQ(break-medium) {

.wrapper h3 {
border: none;
padding-bottom: 20px;
color: $color-1;
margin-top: 0;
}

    // .summary {
    //     border: 5px red solid;
    // }

p {
    padding: 10px;
    font-family: $body-font;
    text-shadow: 2px 2px 5px $color-7;
    font-size: 1.25rem;
}

abbr {
    text-decoration: none;
}

.design-selection,
.design-archives,
.zen-resources {
    // background-color: lighten($color-8, 25%); 
    background: rgba(255, 255, 255, 0.2);
    opacity: .75;
    padding: 20px;
    margin: 35px;
    border-radius: 10px;
    color: white;
    text-align: center;
    border: 2px dashed white;
}

.design-selection a:hover,
.design-archives a:hover,
.zen-resources a:hover {
    text-decoration: underline;
}

.design-selection h3 {
    color: ($color-6, 10%);
    font-weight: bold;
}





    // ******************************
    // ******************************
    @include MQ(break-medium) {

    body {
        background-size: 100% 130%;
    }

    // header {
    //     grid-column: 2 / 3;
    //     grid-row: 1 / 2;
    //     // align-content: right;
    // }

    // .intro { //CSS Zen Garden thru line 107 Footer
    //     grid-column: 1 / 2;
    //     // align-self: center;
    // }


    // .summary { // a demo of what can be...
    //     grid-column: 2 / 3;
    // }

    // .preamble { //road to enlightenment
    //     grid-column: 2 / 3;
    //     grid-row: 1;
    //}

    .intro {
        grid-column: 1 / 3;
        //  grid-row: 1 / 1;
        align-content: center;
        
    }

    .explanation {
        // So What is this about?
        grid-column: 1 / 3;
    }

    // .main.supporting:last-child {
    //     grid-column: 1 / 3;
    // }


    .main.supporting {
        // so what is this about
        // participation
        // benefits
        // requirements
        // footer
        grid-column: 1 / 2;
    }

    // .main:last-child {
    //     grid-column: 1 / 3;
    //     }

    .wrapper,
    .sidebar {
        grid-column: 2 / 3;
        //  grid-row: 2 / 3;
    }

    .benefits {
        grid-column: 1 / 2;
    }

  //  }
}