@import 'src/scss/partials/reset';
@import 'src/scss/partials/layout';
@import 'src/scss/partials/colors';
@import 'src/scss/partials/typography';

body {
    background-image: url("src/images/blue-textile-1078981(1).jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%; 
    margin: 0 auto;
    max-width: 80%;
    padding: 0;
    background-color: $color-8;

    @include MQ(break-medium) {
      max-width: 960px;
    }

}

h1 {
    margin-top: 20px;
    line-height: 8rem;
    font-size: 2.5rem;
    color: $color-8;
    font-family: $header-font;
    text-align: center;
    text-shadow: 5px 5px 5px $color-7;
    
    @include MQ(break-medium) {
        line-height: 12rem;
        font-size: 3rem;
    }
}


h1::after {
    content: url(src/images/sanddollar-sm.png);
    z-index:3;
    position: relative;
}

h2, h3 {
    font-size: 2rem;
    color: $color-8;
    font-family: $header-font;
    text-align: center;
    padding-top: 5px;
    text-shadow: 2px 2px 5px $color-7;
    margin-top: 3rem;
    margin-bottom: .5rem;

    @include MQ(break-medium) {
        font-size: 2.5rem;
    }
}


.page-wrapper {
    position: relative;

    @include MQ(break-medium) {
        display: grid;
        grid-gap: 25px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(1fr, 100px);
    }
}
    
footer {
    margin-top: 20px;
    position: absolute;
    left: 30px;
    bottom: -50px;

    @include MQ(break-medium){
        left: 6px;
    }
}

footer a {
    padding: 6px;     
    transition: 1s;  

        &:visited {
            color:  $color-2;
        }
    
        &:hover {
            color: $color-6;
        }
    }


.preamble {
    color: $color-8;
    text-shadow: 2px 2px 5px $color-7;
}

.summary {
    text-shadow: 2px 2px 5px $color-7;
    color: $color-8;
}

.main.supporting,
.intro a:link {
    color: $color-7;
}

.main.supporting {
    color: $color-2;
}

.intro a:link {
    color: $color-8;
    font-weight: bold;
}

a:link {
    text-decoration: none;
    color: $color-2;
    font-weight: bold;
}

a:visited {
    color: $color-2;
}

.main.supporting a:hover {
    text-decoration: underline;
}

.intro a:hover {
    text-decoration: underline;  
}


.main.supporting h3 {
    color: $color-1;
    padding: 20px;
    font-weight: bold;
    font-family: $header-font;
    font-size: 2rem;
    border: 5px solid $color-1;
    border-radius: 15% 50% 50% 15%;
    box-shadow: 2px 2px 5px $color-7;
    text-align: center;
    text-shadow: 2px 2px 5px $color-7;

    &:hover {                  
    transform: rotate(355deg); 
    }

    @include MQ(break-medium) {
        font-size: 2.25rem;   
    }
}


.wrapper h3 {
border: none;
padding-bottom: 20px;
color: $color-1;
margin-top: 0;
}

.wrapper {
    margin-top: 50px;
}

p {
    padding: 10px;
    font-family: $body-font;
    font-size: 1rem;
    line-height: 140%;
    font-weight: 600;

    @include MQ(break-medium){
        font-size: 1.25rem;   
    }
}

abbr {
    text-decoration: none;
}

.design-selection,
.design-archives,
.zen-resources {
    background: rgba(255, 255, 255, 0.3);
    padding: 20px;
    margin: 35px;
    border-radius: 10px;
    color: $color-7;
    border: 2px dashed $color-7;
    line-height: 1.5rem; 
}

.design-selection a:hover,
.design-archives a:hover,
.zen-resources a:hover {
    text-decoration: underline;
}

.design-selection,
.design-name,
.design-archives,
.zen-resources {
    display: block;
    margin-top: 0.5em;
    font-size: 1.2em;
    font-style: italic;
    text-transform: uppercase; 
}

.design-name {
    text-transform: uppercase;
    color: #004a87;
}

.designer-name {
    font-style: normal;
}

.design-selection h3::after {
    content: url(src/images/surfboard_final.png);
    z-index:3;
    display: block;
    position: relative;
    align-self: center;
    width: 100%;
    padding-top: 10px;
}

.design-archives h3::after {
    content: url(src/images/seahorse2_final.png);
    z-index:3;
    position: relative;
    width: 100%;
}

.zen-resources h3::after {
    content: url(src/images/wave-final.png);
    z-index:3;
    display: block;
    position: relative; 
    align-self: center;
    padding-top: 25px;
    width: 100%;
}


    @include MQ(break-medium) {

    body {
        background-size: 100% 100%;
    }

    .intro {
        grid-column: 1 / 3;
        align-content: center;
        
    }

    .explanation {
        grid-column: 1 / 3;
    }

    .main.supporting {
        grid-column: 1 / 2;
    }

    .wrapper,
    .sidebar {
        grid-column: 2 / 3;
    }

    .benefits {
        grid-column: 1 / 2;
    }
}
